---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/Section.astro'
import placeholderImage from '@/assets/hero-gtanna.JPG'
---

<BaseLayout title="GTanna">
  <main>
    <Section title="ARQUETIPO" imageSrc={placeholderImage} imageAlt="Arquetipo">
      <p>
        Todos adentro tenemos una gitana.<br />
        Una maga sabía que conoce el camino<br />
        Solo hay que acordarnos de que existe<br />
        y volver a ella <br />
        Solo hay que volver a oírla<br />
        Y recordar <br />
        <br />
        Gitana de manada. Manada de lobos Gitana salvaje. Intuitiva y poderosa. Gitana de recuerdos ancestrales.
        canal de conexión con el más allá.

        <br />
        Aliada del sol Hija de la luna Niña de la selva Corazón del mar
        <br />
        Tan humana como todos los dolores Y todas las angustias Tan poderosa como todas las curas Y todos
        los remedios.
        <br />
        Maestra de la nada Y curiosa hasta el límite borroso que ya deja de existir. La hacen ella su
        coraje, su valentía, su gracia.
        <br />
        Alquimista de los sentires. Cuidadora de la Fuente. Creadora. Creativa
        <br />
        Pelo suelto color atardecer Y en sus ojos noche yace su voz Porque ella no habla tanto. Canta
        más. Canta aquí y allá Y en todas partes
        <br />
        Baila para ella y toca el tambor. Sus manos saben de música Y su voz lleva el timón.
        <br />
        Los caballos son sus aliados Medicina mutua llevan donde van. Entregan la magia de la eternidad.
        <br />
        La gitana no anda sola. Va en comunidad. Círculos de ascendencia y familia escogida. Q la sostienen
        y la llenan de vida.
        <br />
        Gitana de gestos y canciones De consejos y razónes Gitana de amuletos y tesoros. De pies descalzos
        y empantanados.
        <br />
        Para ella no existe tiempo ni camino Camina a su propio ritmo Con paciencia recorre los pasos
        q le va dictando su brujula: EL CORAZÓN.
      </p>
    </Section>

    <Section title="PROYECTO GTANNA" imageSrc={placeholderImage} imageAlt="Proyecto GTanna">
      <p>Contenido de la sección Proyecto GTanna.</p>
    </Section>
  </main>
</BaseLayout>
