---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Section1 from '@/components/Section1.astro'
import placeholderImage from '@/assets/hero-gtanna.JPG'
---

<BaseLayout title="GTanna">
  <main>
    <Section1 title="ARQUETIPO" imageSrc={placeholderImage} imageAlt="Arquetipo">
      <p>
        Todos adentro tenemos una gitana.<br />
        Una maga sabía que conoce el camino<br />
        Solo hay que acordarnos de que existe<br />
        y volver a ella <br />
        Solo hay que volver a oírla<br />
        Y recordar <br />
        <br />
        Gitana de manada. <br />
        Manada de lobos Gitana salvaje. <br />
        Intuitiva y poderosa. <br />
        <br />
        Gitana de recuerdos ancestrales. <br />
        canal de conexión con el más allá <br />
        <br />
        Aliada del sol <br />
        Hija de la luna <br />
        Niña de la selva <br />
        Corazón del mar <br />
        <br />
        Tan humana como todos los dolores <br />
        Y todas las angustias <br />
        <br />
        Tan poderosa como todas las curas <br />
        Y todos los remedios. <br />
        <br />
        Maestra de la nada <br />
        Y curiosa hasta el límite borroso que ya deja de existir. <br />
        <br />
        La hacen ella su coraje, su valentía, su gracia. <br />
        <br />
        Alquimista de los sentires.<br />
        Cuidadora de la Fuente.<br />
        Creadora. Creativa <br />
        <br />
        Pelo suelto color atardecer <br />
        Y en sus ojos noche yace su voz <br />
        Porque ella no habla tanto. <br />
        Canta más. <br />
        Canta aquí y allá <br />
        Y en todas partes <br />
        <br />
        Baila para ella y toca el tambor. <br />
        Sus manos saben de música <br />
        Y su voz lleva el timón. <br />
        <br />
        Los caballos son sus aliados <br />
        Medicina mutua llevan donde van. <br />
        Entregan la magia de la eternidad. <br />
        <br />
        La gitana no anda sola. <br />
        Va en comunidad. <br />
        Círculos de ascendencia y familia escogida. <br />
        Q la sostienen <br />
        y la llenan de vida. <br />
        <br />
        Gitana de gestos y canciones <br />
        De consejos y razónes <br />
        <br />
        Gitana de amuletos y tesoros. <br />
        De pies descalzos y empantanados. <br />
        <br />
        Para ella no existe tiempo ni camino <br />
        Camina a su propio ritmo <br />
        <br />
        Con paciencia recorre los pasos <br />
        q le va dictando su brujula: EL CORAZÓN.
      </p>
    </Section1>

    <Section1 title="PROYECTO GTANNA" imageSrc={placeholderImage} imageAlt="Proyecto GTanna">
      <p>
        Gtanna es un proyecto de alma humana y descalza. Experimenta y nombra procesos, sentires y
        contradicciones atravesados por una mirada mágica y simbólica de la realidad. Su voz es
        íntima, cruda, honesta y contenida. Acompaña a quienes seienten lo mismo desde un lugar
        orgánico, descalzo y honesto, para que se sienta visto, comprendido y menos solo en su
        sentir.
      </p>
    </Section1>
  </main>
</BaseLayout>
