---
interface Props {
  variant?: 'home' | 'page'
}

const { variant = 'page' } = Astro.props
const currentPath = Astro.url.pathname
---

<nav class:list={['nav', { 'nav--solid': variant === 'page' }]}>
  <ul class="nav__list">
    <li><a href="/" class:list={[{ active: currentPath === '/' }]}>Casa</a></li>
    <li>
      <a
        href="/gtanna"
        class:list={[{ active: currentPath === '/gtanna' || currentPath === '/gtanna/' }]}>GTanna</a
      >
    </li>
    <li>
      <a
        href="/musica"
        class:list={[{ active: currentPath === '/musica' || currentPath === '/musica/' }]}>Música</a
      >
    </li>
    <li>
      <a
        href="/contacto"
        class:list={[{ active: currentPath === '/contacto' || currentPath === '/contacto/' }]}
        >Contacto</a
      >
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--spacing-lg) var(--spacing-xl);

    &__list {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: var(--dorado);
      text-decoration: none;
      font-family: var(--font-display);
      font-size: var(--font-size-base);
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: 0.05em;
      text-transform: lowercase;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        opacity: 1;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -0.2em;
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          height: 10px;
          background: url('/underline.svg') no-repeat center;
          background-size: contain;
        }
      }
    }
  }
</style>
