---
import Head from '@/components/Head.astro'
import Nav from '@/components/Nav.astro'
import '@/styles/global.scss'

interface Props {
  title?: string
  description?: string
  variant?: 'home' | 'page'
}

const {
  title = 'Gtanna',
  description = 'A production-ready Astro starter template.',
  variant = 'page',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class={variant}>
    <Nav variant={variant} />
    <div class="content">
      <slot />
    </div>
  </body>
</html>

<style lang="scss" is:global>
  body.page {
    background: radial-gradient(circle, var(--rojo) 0%, var(--cafe-amargo) 70%);
    height: 100vh;
    overflow: hidden;
  }

  body.page .content {
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }

  body.home .content {
    height: 100vh;
    overflow: hidden;
  }
</style>
